<template>
<div class="Nav">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
    <h3 class="Nav1">To DO App</h3>
        </div>
        <div class="col-6"></div>
    </div>
</div>
</template>
<style scoped>
   .Nav{
       
       height:auto;
   }
   .Nav1{
    max-width: 1100px;
    background: #62d7db;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
   }
</style>
<script>
export default {
    name:"Navbar"
}
</script>