<template>
<div class="homeStyle">
<div> <h4 class="title">Assign ToDo Tasks</h4></div>
    <div>
        <input 
        v-if="show" 
        class='form-control' 
        placeholder="Enter Task to do" 
        v-model="task" type="text" 
        v-on:keyup.enter="handleclick"/></div>
        <div class="incompleted-task" >
            <div class="list-group" v-for="task in selectedName.task" :key="task">
                <div v-if="task.giventask!==editedTask && task.completed===false" class="task">
                    <input 
                        type="checkbox" 
                        v-on:change="completedTask(task.giventask)"/>
                    <label class="task1">{{task.giventask}} </label>
                    <button class="btn" v-on:click="handleDelete(task.giventask)"><i class="fas fa-trash"></i></button>
                    <button class="btn1" v-on:click="handleEdit(task.giventask)"><i class="fas fa-edit"></i></button>   
                </div>
                <div v-if="task.giventask===editedTask && task.completed===false">
                <input 
                        class="task1" 
                        v-model="postedTask"
                        type="text"
                        v-on:keyup.enter="handleFinal"/>
                    <button class="btn" v-on:click="handleDelete(task.giventask)"><i class="fas fa-trash"></i></button>
                    <button class="btn1" v-on:click="handleEdit(task.giventask)"><i class="fas fa-edit"></i></button>   
                </div>  
            </div>
        </div>
        <div class="row" >
            <div class="list-group1" v-for="task in selectedName.task" :key="task">
                <div v-if="task.completed" class="checkbox">
                    <input 
                        type="checkbox" 
                        v-on:change="completedTask(task.giventask)"
                        checked="task.completed"/>              
                        <label class="completed">Completed</label><br/><br/>
                    <label class="task2">{{task.giventask}}</label>
                    <button class="btn" v-on:click="handleDelete(task.giventask)"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        </div>
</div>
</template>
<script>
export default {
    name:"RightPanel",
    props:['selectedName','show'],
    data(){
        return{
            task:"",
            editedTask:"",
            postedTask:""
        }
    },
    methods:{
        handleclick(){
            
              this.$emit('task',this.task);
              this.task="";     
        },
       handleFinal(){
         let index=this.selectedName.task.findIndex(n=>n.giventask===this.editedTask);
         this.$emit('editedTask',this.postedTask)
         this.$emit('index',index);
        },
        handleDelete(temp){
           this.$emit('taskDeleted',temp);
        },
        handleEdit(temp){
            this.editedTask=temp;
            this.postedTask=temp;
            
        },     
        completedTask(temp){
            
            this.$emit('completedTask',temp);
        }
    }
}
</script>
<style scoped>
.completed{
    margin-left: 5px;
}
.task {
    margin-top: 20px;
}
.task2{
        border: 1px solid;
   background: greenyellow;
    color: #741515;
    padding: 5px;
    padding-right: 200px;
    margin-top: 10px;
    border-radius: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.checkbox{
    margin-left: 10px;
}
.task1{
        border: 1px solid;
   background: burlywood;
    color: #741515;
    padding: 5px;
    padding-right: 200px;
    margin-top: 10px;
    border-radius: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
    .form-control{
        padding: 5px;
        border-radius: 10px;
        padding-right: 100px;
        border: 1px red;
        margin-top: 10px;
        margin-left: 10px;
    }
    .list-group{
        border:1px slategray
    }
    .list-group1{
        margin-top: 10px;
    }
    .btn{
        border:0px;
        cursor: pointer;
    }
  .btn1{
        border:0px;
        cursor: pointer;
    }
    .title {
     margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center ;
    margin-top: 10px;
    }
</style>
