 <template>
 <!-- <img alt="Vue logo" src="./assets/logo.png"> !-->
 <div class="mainDiv">
 <Navbar/>
 <div class="row">  
     <div class="col-2">
       <LeftPanel 
       :list="users" 
       :index="selectedIndex" 
       v-on:index="updateIndex($event)" 
       v-on:newname="updateName($event)" />
        </div>
     <div class="col-7"> 
       <RightPanel v-bind:selectedName="SelectedElement" 
       :show="showtextfield"
       @task="assignTask($event)" 
     @taskDeleted="taskDelete($event)"
     @editedTask="taskupdate($event)"
     @index="index($event)"
     @completedTask="completedTask($event)"
     /></div>
     
 </div>
   </div> 
   </template>
<style type="text/css"  scoped>
  .mainDiv{
        background: beige;
  }
.row {
     display: flex;
    flex-flow: wrap;
}
.col-2{
  width: 20%;
}
.col-7 {
    width: 75%;
    background-image: url('https://media.istockphoto.com/photos/timeline-planning-checklist-or-business-plan-with-calendar-date-on-picture-id1211255735?k=6&m=1211255735&s=612x612&w=0&h=P0HukhuiegaRd5UHLwcnRgAlSUP5tQTUcCLKyNm5uNk=');
    min-height: 400px;
    border-radius: 10px
}

</style>
<script>
import Navbar from './components/Navbar.vue';
import LeftPanel from './components/LeftPanel.vue';
import RightPanel from './components/RightPanel.vue';
export default {
  name: 'App',
  components: {
    Navbar,
    LeftPanel,
    RightPanel
}, data(){
    return{
      users:[
                {id:0,name:"Akash",task:[],totalTask:0,pendingTask:0,completedTask:0},
                {id:1,name:"Abhishek",task:[],totalTask:0,pendingTask:0,completedTask:0},
                {id:2,name:"Amit",task:[],totalTask:0,pendingTask:0,completedTask:0},
                {id:3,name:"Shiv",task:[],totalTask:0,pendingTask:0,completedTask:0},
                {id:4,name:"Sunny",task:[],totalTask:0,pendingTask:0,completedTask:0},
            ],
            SelectedElement:{},
            selectedIndex:null,
            showtextfield:false,
            editedTask:"",
            x:""
    }
},
methods:{
     updateIndex(temp){
       if(temp!==true){
       this.SelectedElement=this.users[temp];
       this.showtextfield=true;
       this.selectedIndex=temp;
     }
     },
     updateName(temp){
          let x={id:this.users.length,name:temp,task:[]};
          this.users.push(x);
     },
     assignTask(temp){
         let x={giventask:temp,completed:false}; 
         this.users[this.selectedIndex].totalTask=this.users[this.selectedIndex].totalTask+1;
         this.users[this.selectedIndex].pendingTask=this.users[this.selectedIndex].pendingTask+1;
     this.users[this.selectedIndex].task.push(x);
     
     },
      taskDelete(temp){
       this.users[this.selectedIndex].task=this.users[this.selectedIndex].task.filter(n=>n.giventask!==temp);
       this.users[this.selectedIndex].totalTask=this.users[this.selectedIndex].totalTask-1;
         this.users[this.selectedIndex].pendingTask=this.users[this.selectedIndex].pendingTask-1;
     },
     taskupdate(temp){
       this.editedTask=temp;
     },
    index(temp){
      this.SelectedElement.task[temp].giventask=this.editedTask;
      this.users[this.selectedIndex]=this.SelectedElement;
      
    },
    completedTask(temp){
      let x=this.users[this.selectedIndex].task.findIndex(n=>n.giventask===temp);
      this.users[this.selectedIndex].task[x].completed=!this.users[this.selectedIndex].task[x].completed;
     this.users[this.selectedIndex].completedTask=this.users[this.selectedIndex].completedTask+1;
     this.users[this.selectedIndex].pendingTask=this.users[this.selectedIndex].pendingTask-1;

    }
}  
}
</script>


